* {
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
form{
    width: 100%; 
    background: linear-gradient(#97cfbd,#9513ff);
    padding: 20px; 
    border-radius: 20px; 
    box-shadow: 5px 5px 15px #333;
}
form h1 {
    margin: 0 0 20px;
    color: white;
}
form .group{
    margin-bottom: 15px;
}
input[type=email],input[type=password],
select{
    width: 100%;
    padding: 7px;
}
form label{
    display: block;
    color: white;
}
.actions{
    text-align: right;
}
button {
    padding: 5px 15px;
}
@media(min-width: 500px){
    form{
        width: 300px;
        margin: 40px auto;
    }
}